PORT=8085
AWS_DYNAMODB_TABLE_NAME=lesson_progress
AWS_DYNAMODB_REGION=us-east-1
AWS_DYNAMODB_ENDPOINT=http://localhost:8000
AWS_ACCESS_KEY_ID=mock-key
AWS_SECRET_ACCESS_KEY=mock-secret

# Mock Course-Lesson mappings formatted as a JSON string
MOCK_COURSE_LESSONS='{"course-1":["lesson-1","lesson-2","lesson-3"],"course-2":["lesson-4","lesson-5"]}'
